@import './base.css';

button {
	border:0px;
}

.button{
	height: 2em;
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	border-radius: 2em;
	border-width: 1px;
	border-style:solid;
	transition: 0.2s;
	border-color: transparent;
}

body{
	font-weight: 100;
	font-size: 14px;
	font-family: "Roboto Mono";
}

svg {
	width: 1em;
	height: 1em;
}

input {
	background-color: transparent;
	border-width: 0px 0px 2px 0px;
	border-color: #bde0fe;
	border-style: solid;
	font-size: 14px;
	font-family: "Roboto Mono";
}

input:focus {
	border-color: #a2d2ff;
	outline: none;
}

.drop-container {
	overflow: hidden;
}
.drop-container > div:last-child {
	display:flex;
	flex-direction: column;
}
table {
	margin: 1em 0em 3em 0em;
	width: 100%;
	border-radius: 1em;
	border-width: 1px;
	border-color: #bde0fe;
	border-collapse: collapse;
}

td {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #cdb4db;
	height: 3em;
	text-align: center;
}
th {
	background-color: #cdb4db;
	height: 3em;
}
th:first-child {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}
th:last-child {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}

.search-box {
	height:2em;
	padding: 0.5em;
	border-radius: 1em;
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	border-color: #cdb4db;
}
.search-box svg {
	width: 1em;
	height: 1em;
}
.search-box input {
	border-style: none;
	border-width: 0px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.green {
	border-color: #bde0fe;
}

.green:hover {
	border-color: #a2d2ff;
	background-color: #a2d2ff;
}

.yellow {
	border-color: #fdf3d9;
}
.yellow:hover {
	border-color: #fbecc1;
	background-color: #fbecc1;
}
.red {
	border-color: #ffc8dd;
}
.red:hover {
	border-color: #ffafcc;
	background-color: #ffafcc;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

	#app {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 100vw;
		min-height: 100vh;
	}

	.regular-main-page-width{
		width: 1240px;
	}
}
